/* Setting background color of the html body to black*/
body{
  background-color: black;
}

/* Styling the element with id, main-div */
#main-div{
    width: 70%;
    border: 1px solid black;
    margin: 0 auto;
    margin-top: 10%;
    background-color: white;  
}

/* Styling the inputs in table headers and table data */
th, td {
  vertical-align: top;
}

/* Styling the elements with class output */
.output {
    font-weight:bold;
  }
/* Styling the elements with ids monthlyp, total, totalint to underline their values */
#monthlyp, #total, #totalint {
  text-decoration:underline;
}
  
  